# vscode lol
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# packages
node_modules

# build folder
build

# config file (should *NOT* be shared!!)
config.json

